<!-- iske  andar humm apna html and javascript ka ek code create karenge -->
 <!-- .ejs means a template file -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
    <h1>home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur 
       adipisicing elit. Illo, consequatur ullam!
       Vel optio impedit iusto odio reprehenderit.
       Commodi accusamus quae possimus hic soluta, 
       rerum impedit voluptatibus eos? Beatae, atque
       deserunt?
    </p>
    <button>cilck me</button>
 </body>
 </html>