<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Post</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Edit Post</h2>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
      <input type="text" value="<%= post.username %>" disabled>
      <textarea name="content"><%= post.content %></textarea>
      <button type="submit">Update Post</button>
    </form>

    <div class="nav-btn">
      <a class="btn" href="/posts">Back to All Posts</a>
    </div>
  </div>
</body>
</html>
