<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post in Detail</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Here is your post in detail</h2>
    <p><b>Post ID:</b> <%= post.id %></p>
    <div class="post">
      <h3 class="user">@<%= post.username %></h3>
      <p class="content"><%= post.content %></p>
    </div>

    <div class="nav-btn">
      <a class="btn" href="/posts">Back to All Posts</a>
    </div>
  </div>
</body>
</html>
